@charset "UTF-8";

body {
	background:#FFF url('../program/board/img/18.jpg') repeat;
}
.one{
  text-align: center;
}
.one img{
  border-radius: 20%;
}
.one p{
  margin-left: 10px;
  font-weight: bold;
}
.three{}
